<% provide(:title, 'Contact') %>

<h1>Contact Page</h1>
<p>This is the contact page.</p>

<hr />

    <form>
    <legend>Legend</legend>
    <label>Label name</label>
    <input type="text" placeholder="Type something…">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
    <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn">Submit</button>
    </form>

<hr />

    <form class="form-search">
    <input type="text" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
    </form>

<hr />

    <form class="form-inline">
    <input type="text" class="input-small" placeholder="Email">
    <input type="password" class="input-small" placeholder="Password">
    <label class="checkbox">
    <input type="checkbox"> Remember me
    </label>
    <button type="submit" class="btn">Sign in</button>
    </form>

<hr />

    <form class="form-horizontal">
    <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="Email">
    </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
    <input type="password" id="inputPassword" placeholder="Password">
    </div>
    </div>
    <div class="control-group">
    <div class="controls">
    <label class="checkbox">
    <input type="checkbox"> Remember me
    </label>
    <button type="submit" class="btn">Sign in</button>
    </div>
    </div>
    </form>

<hr />

    <div class="input-prepend">
    <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text" placeholder="Username">
    </div>
    <div class="input-append">
    <input class="span2" id="appendedInput" size="16" type="text"><span class="add-on">.00</span>
    </div>

<hr />


    <input class="input-mini" type="text" placeholder=".input-mini"> <br />
    <input class="input-small" type="text" placeholder=".input-small"><br />
    <input class="input-medium" type="text" placeholder=".input-medium"><br />
    <input class="input-large" type="text" placeholder=".input-large"><br />
    <input class="input-xlarge" type="text" placeholder=".input-xlarge"><br />
    <input class="input-xxlarge" type="text" placeholder=".input-xxlarge"><br />