<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Test App", '#', id: "logo", class: "brand" %>
      <nav>
        <%= render 'layouts/nav' %>
      </nav>
    </div>
  </div>
</header>